@model BDProject.Models.Customer

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar a este cliente?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cust_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nls_language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nls_language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nls_territory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nls_territory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_email)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marital_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marital_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.income_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.income_level)
        </dd>

        <dt>
            Encargado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.first_name) @Html.DisplayFor(model => model.Employee.last_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al inicio", "Index")
        </div>
    }
</div>
