@model BDProject.Models.Inventory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity_on_hand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_on_hand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInformation.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInformation.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.warehouse_spec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.warehouse_spec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
